<form [formGroup]="eventForm" class="h-100">
    <div class="h-25" style="background-color: white; margin: 0px 20px 0px 20px; padding: 2em" > <!-- top - right - bottom - left -->
        
        <!-- Title -->

        <!-- <input type="text" class="form-control form-control-lg" id="title" formControlName="title" placeholder="Enter title"/> -->

        <div class="form-floating mb-3">
            <input type="text" class="form-control form-control-lg" id="floatingTitleInput" formControlName="title" placeholder="Enter title">
            <label for="floatingTitleInput">Title</label>
          </div>
        
    </div>
    <div class="h-75" style="color: white; padding: 2em; background-color: black; margin: 0px 20px 0px 20px">

        <!-- Summary -->

        <textarea class="form-control" id="summary" formControlName="summary" placeholder="Enter some text" rows="3"></textarea>

        <!-- Art -->

        <div class="row">

        </div>

        <button class="btn btn-light">Add art</button>

        <button class="btn btn-outline-light btn-space" (click)="updateEvent()">Update</button>

    </div>
</form>


