/* .centered{
    display: flex;
    justify-content: center;
    align-items: center;
} */

/* input{
    margin-left: 2em;
    margin-right: 2em;
} */

.btn-space{
    margin: 1em;
}

.close-btn{
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
  }