<div class="container">


<form [formGroup]="galleryForm" (ngSubmit)="onSubmit()" style="margin-top: 2em;">
    <div class="row"> <!-- </div> style="background-color: lightgrey;"> -->
        <div class="col-10">
            <input class="form-control" type="search" placeholder="Search" aria-label="Search" id="query" formControlName="query">
        </div>
        <div class="col-2">
            <button class="btn btn-outline-light" type="submit">Search</button>
        </div>
    </div>
</form>

<br/>

<div class="row g-5">

    <div *ngFor="let artPiece of artPieces" class="col-3"> <!-- (click)="clicked(stack)" -->

        <!-- <div class="card bg-dark mx-auto">
            <div class="card-body">
                <img src={{artPiece.primaryImageSmall}} style="width: 300px; height: 300px">
                <h3 class="card-title">{{artPiece.title}}</h3>
                <p class="card-text">{{artPiece.artistDisplayName}}</p>
            </div>
        </div> -->

        <div class="card text-white bg-dark">
            <img class="card-img-top" src={{artPiece.primaryImageSmall}} alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">{{artPiece.title}}</h5>
              <p class="card-text">{{artPiece.artistDisplayName}}</p>
              <a href="#" class="btn btn-light">Details</a>
            </div>
          </div>

    </div>
</div>
</div>






