.banner-container{
    height: 10vh;
    background-color: black;
    font-family: 'Courier New', Courier, monospace;                                   
}

/* .banner{
    display: flex;
    align-items: center;
    width: 100vw;
} */

.white-text{
    color: white;
    text-decoration: none;
}

a{
    color: white;
    text-decoration: none;
    margin: 1em;
}

.body{
    background-color: black;
    height: 80vh;
}

.container{
    background-color: white;
}

.inside-container{
    background-color: black;
    padding: 2em;
}

.footer{
    height: 10vh;
    width: 100vw;
    background-color: black;;
    color: white;
    text-align: center;
}
