.mybtn {
    border: 2px solid black;
    background: white;
    color: black;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
  }

  /* .mybtn:hover{
      background-color: gray;
      border: gray;
      color: white;
  } */

  .blackbtn{
      background: black;
      color: white;

      margin-right: 2em;
  }

  .btn-space{
    margin: 0.5em;
  }

  .close-btn{
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
  }
  
  
  /* .blackbtn:hover {
    background: white;
    color: black;
  } */

  /* .whitebtn{
      border-color: black;
  } */

/* Grow Shadow */
.hvr-grow-shadow {
    /* display: inline-block; */
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;
  }

  .hvr-grow-shadow:hover, .hvr-grow-shadow:focus, .hvr-grow-shadow:active {
    box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }

  .add-event-btn{
    border-radius: 50%;
    width: 2em;
    height: 2em;
    background-color: white;
    color: black;

    position: fixed;
    right: 30px;
    bottom: 150px;
}

.material-icons.md-36 { 
  font-size: 36px;
}