<div class="row justify-content-center">
  <div class="col-8" *ngFor="let event of artEvents$ | async" (click)="clicked(event)" style="margin-top: 2em;">

    <div class="row hvr-grow-shadow" style="background-color: white; border-radius: 20px 15px 15px 20px">
      <div class="col-6" style="background-color: black; border-radius: 15px 0px 0px 15px;">
        <div class="card-body">
          <img src="..." class="img-fluid rounded-start" alt="...">
        </div>
      </div>
      <div class="col-6">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <h5 class="card-title">{{event.title}}</h5>
            </div>
            <div class="col">
              <div class="dropdown">
                <button class="btn blackbtn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Options
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" href="#">Edit</a>
                  <a class="dropdown-item" href="#">Delete</a>
                </div>
              </div>
            </div>
          </div>

          <p class="card-text">{{event.summary }}</p>
          
          <button type="button" class="btn blackbtn" (click)="goToEventDetails()">Details</button>
          <button type="button" class="btn" style="background-color: white; border: solid black;">Book ticket</button>
        </div>
      </div>
    </div>

  </div>
</div>

